body {
    background-color: black;
}

html * {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {
    #barra-navegacion {
        background-color: #0b8793 !important;
    }
}

.navbar-brand img {
    width: 50px;
    margin-left: 15px;
}

hr {
    background: #0b8793;
    margin-left: 5%;
    margin-right: 5%;
}

.cardIcon {
    background-color: #0b8793;
}

.cardIcon i {
    font-size: 30px;
}

.bg-card {
    background-color: #0b8793;
}

#contacto div {
    width: 85%;
    height: 17em;
    padding-top: 2rem;
    padding-bottom: 5rem;
    background: #360033;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFA17F, #0b8793);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFA17F, #0b8793);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer {
    background-color: #0b8793;
}

.icons-footer i {
    font-size: 30px;
    color: white;
}